/* map.css */
#map-article h2 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
    font-weight: 300;
}

#map-article p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 48px;
}

#map {
    width: 1278px;
    height: 520px;
}