/* email.css */
#email {
    margin: 180px 0 0 0;
    position: relative;
}

#email section {
    width: 1280px;
    height: 200px;
    background-color: #263140;
    position: absolute;
    transform: translate(0, -90%);
    z-index: 2;
    margin: 80px 320px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

#email img {
    width: 1920px;
    height: 340px;
    margin: 0;
    z-index: 1;
}

#email .email-text {
    margin: 50px 50px;
}

#email h2 {
    color: #fff;
    font-size: 36px;
    line-height: 45px;
    font-weight: 850;
    margin-bottom: 18px;
}

#email p {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
}

#email .email-input-btn {
    background-color: #fff;
    width: 530px;
    height: 60px;
    margin: 69px 58px 0 0;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
}

#email .email-input-btn label {
    display: flex;
    justify-content: space-between;
}

#email .email-input-btn img {
    width: 24px;
    height: 24px;
    margin: 18px 16px 18px 28px;
}

#email .email-input-btn input {
    margin: 20px 0 20px 0;
    border: none;
    font-size: 16px;
    outline: none;
}

#email .email-input-btn button {
    margin: 5px 6px;
}