/* scroll-top.css */

/* 맨 위로 스크롤 버튼 스타일 */
#scrollToTopBtn {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 18px;
    right: 24px;
    cursor: pointer;
    display: none;
    border-radius: 50%;
    border: 2px solid #C4C4C4;
    padding: 0;
}

/* 맨 위로 스크롤 버튼 이미지 스타일 */
#scrollToTopBtn img {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    transition: filter 0.3s;
}

/* 버튼 호버 효과 */
#scrollToTopBtn:hover img {
    filter: grayscale(100%) brightness(80%);
}
