/* map.css */

#map-section {
    margin: 0 320px;
}

#map-section .map-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map-section .map-text {
    width: 1270px;
}


/* 'map-section' 섹션 제목 스타일 */
#map-section h2 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
    font-weight: 300;
}

/* 'map-article' 섹션 본문 스타일 */
#map-section p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 48px;
}

/* 지도 스타일 */
#map {
    width: 1278px;
    height: 520px;
    border-radius: 12px;
}
