/*scrollbar.css*/

/* 스크롤바 전체에 적용되는 스타일 */
::-webkit-scrollbar {
    width: 10px;
}

/* 스크롤바의 track에 적용되는 스타일 (스크롤바 배경) */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* 스크롤바의 thumb에 적용되는 스타일 (스크롤바의 실질적인 부분) */
::-webkit-scrollbar-thumb {
    background-color:   #408c3c;
    border-radius: 20px;
}

/* 스크롤바가 hover 상태일 때의 thumb 스타일 */
::-webkit-scrollbar-thumb:hover {
    background-color:  #ffd96e;
}
