/* about.css */

#about {
    padding: 20px; /* 내부 여백 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 이미지와 텍스트를 감싸는 article 요소의 스타일 */
#about article {
    text-align: left; /* 왼쪽 정렬 */
}

/* 이미지 스타일 */
#about img {
    Width: 660px;
    Height: 390px;
}

/* 텍스트 스타일 */
#about h2{
    font-size: 36px;
    line-height: 45px
}

#about p {
    font-size: 16px;
    line-height: 20px
}

