/* about.css */
#about {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

#about section {
    text-align: left;
}

#about img {
    width: 660px;
    height: 390px;
    margin: 0 110px 0 0;
}

#about h2 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 850;
    margin-bottom: 30px;
}

#about p {
    font-size: 16px;
    line-height: 20px;
}