/* about.css */
#about {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

#about section {
    text-align: left;
}

#about img {
    width: 660px;
    height: 390px;
    margin: 0 110px 0 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#about h2 {
    font-size: 38px;
    line-height: 45px;
    font-weight: 300;
    margin-bottom: 25px;
}
.highlight-text {
    font-size: 40px;
    line-height: 45px;
    font-weight: 300;
}

#about p {
    font-size: 21px;
    line-height: 33px;
}

#about p .highlight {
    color: #3D7F4D;
}