/* common.css */

/* 사용할 폰트 설정 */
@font-face {
    font-family: 'BMDOHYEON';
    src: url('../assets/fonts/BMDOHYEON_ttf.ttf') format('truetype');
}

/* 수정 예정 부분 */
:root {
    --font-family: 'BMDOHYEON', sans-serif;
    --base-font-size: 16px;
    --line-height: 1.5;
    --main-color: #D97652;
    --secondary-color: #F29D52;
    --background-color: #F2E9D8;
}

body {
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    line-height: var(--line-height);
}

article {
    margin: 0 320px;
}


/* 이미지의 공통 스타일 - 모서리를 둥글게 처리 */
#welcome img,
#about img,
#projects .projects-api img,
#email img {
    border-radius: 30px;
}