/* layout.css */
@font-face {
    font-family: 'Pretendard';
    src: url('/assets/fonts/Pretendardï¼M.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

nav {
    margin : 0 300px;
    padding: 20px;
    text-align: center;
}

main {

}

article {
    margin: 0 320px;
}



footer {
    margin-top: 20px;
}
