/* layout.css */

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

nav {
    margin : 0 300px;
    padding: 20px;
    text-align: center;
}

main {

}

article {
    margin: 60px 320px 0 320px;
}



footer {
    margin-top: 20px;
}
