/* projects.css */
#projects {
    text-align: center;
    margin-top: 120px;
}

#projects h2 {
    color: var(--main-color);
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 15px;
}

#projects p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
}

#projects p .highlight {
    color: var(--main-color);
}

#projects .projects-api {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#projects .projects-api img {
    width: 378px;
    height: 378px;
    margin: 36px 0;
}

#projects .projects-api img:hover {
    transition: opacity 0.3s;
    opacity: 0.7;
}

#projects .show-more-section p {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin: 30px 0 20px 0;
}

#projects hr {
    border: 1px solid #ddd;
    margin: 80px 0 68px 0;
}