/* footer.css */
footer {
    margin: 45px 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer img {
    width: 226px;
    height: 70px;
}

footer #link-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

footer button {
    background-color: #408c3c;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin-left: 20px;
}

footer button:hover {
    background-color: #b9da4a;
}


footer button img {
    width: 24px;
    height: 24px;
    margin: 3px;
}

footer button:nth-child(4) img {
    height: 18px;
}