/* header.css */

header {
    background-color: #F2E9D8; /* 배경 색상 설정 */
    padding: 10px; /* 내부 여백 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

header img {
    max-width: 100%; /* 이미지 최대 너비 설정 */
}




#welcome {
    background-color: #F2E9D8; /* 변경된 배경색 지정 */
    padding: 20px; /* 내부 여백 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#welcome article {
    text-align: left; /* 왼쪽 정렬 */
}

#welcome h2 {
    color: #333; /* 제목의 텍스트 색상 지정 */
}

#welcome p {
    color: #666; /* 문단의 텍스트 색상 지정 */
}

#welcome #downloadButton {
    background-color:  #D97652; /* 버튼 배경색 지정 */
    color: #fff; /* 버튼 텍스트 색상 지정 */
    padding: 10px 20px; /* 버튼 내부 여백 설정 */
    border: none; /* 테두리 없애기 */
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 상태로 표시 */
}

#welcome #downloadButton:hover {
    background-color: #D97600; /* 마우스 호버 시 배경색 변경 */
}

