/* header.css */

header {
    background-color: #F2E9D8; /* 배경 색상 설정 */
    padding: 10px; /* 내부 여백 설정 */
}

header img {
    max-width: 100%; /* 이미지 최대 너비 설정 */
}




#welcome {
    background-color: #F2E9D8; /* 변경된 배경색 지정 */
    padding: 20px; /* 내부 여백 설정 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#welcome article {
    text-align: left; /* 왼쪽 정렬 */
}

#welcome h2 {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 40px;
}

#welcome p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}

#welcome .downloadButton {
    background-color: #D97652;
    font-size: 16px;
    line-height: 19.09px;
    text-align: center;
    color: #fff;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

#welcome .downloadButton:hover {
    background-color: #D97600; /* 마우스 호버 시 배경색 변경 */
}

#welcome img {
    width: 415px;
    height: 766px;
}
