/* nav.css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0;
    margin: 0 320px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 10px 15px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: var(--main-color);
}

nav .downloadButton {
    margin-left: 19px;
}

nav  img {
    Width:130px;
    Height: 50px;
}
